body {
    font-family: "Comic-Neue";
    height: 100%;
    color: black;
}

.landing {
    background-color: var(--main-bg);
    padding-bottom: 10px;
    padding-top: 20px;
    color: black;
}

.landing h2 {
    margin: 0;
}

main{
    background: linear-gradient(180deg, var(--main-bg) 0%, var(--second-color) 100%);
}

section {
    margin: 0 auto;
    background-color: var(--white);
    border-radius: 20px;
    padding: 15px;
    width: 60%;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: -2px 3px 0 black;
}

section h3 {
    box-shadow: -2px 3px 0 black;
    padding: 15px;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
}

.mid-box {
    display: flex;
    margin: 0 auto;
    gap: 20px;
    width: 100%;
    flex-direction: column;
}

.mid-box section {
    padding: 20px;
}

.user {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: var(--white);
    border-radius: 20px;
    width: 90%;
    padding: 0 10px;
    margin: 0 auto;
    box-shadow: 2px 2px 0 3px #606060;
    margin-bottom: 10px;
}

.user-img {
    width: 100%;
    border: solid 2px;
    display: flex;
}

.user p {
    margin: 0;
}

.user img {
    width: 80px;
    border-radius: 50%;
    border: solid 2px var(--white);
}

fieldset {
    margin: 10px auto;
    padding: 10px;
    gap: 5px;
    border-radius: 10px;
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    flex-direction: row;
    color: black;
    width: 80%;
}

fieldset div {
    display: flex;
}

input {
    border-radius: 5px;
    width: 100%;
}

select {
    padding: 1px;
    border-radius: 5px;
}

input:invalid {
    border: solid red 2px;
}

input:valid {
    border: solid lightskyblue 2px;
}

tr {
    text-align: left;
}

td input {
    width: 100%;
}

@media (min-width: 700px) {

    .mid-box {
        flex-direction: row;
        width: 83%;
        margin: 0 auto;
        gap: 20px;
    }
    .user{
        width: 40%;
    }
    .mid-box section{
        margin: 0 auto;
        width: 80%;
    }

    section{
        width: 80%;
    }

    .landing {
        width: 100%;
    }

    fieldset {
        margin: 0 auto;
        width: 90%;
    }
}

@media (min-width: 1000px) {
    .landing {
        width: 83%;
    }
}